*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
    background:
    radial-gradient(circle at 10% 20%, rgba(59,130,246,.12), transparent 35%),
    radial-gradient(circle at 90% 80%, rgba(59,130,246,.10), transparent 35%),
    linear-gradient(180deg,#020617,#0F172A,#111827);

    color:white;
}
a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

img{
  max-width:100%;
  display:block;
}

section{
  padding:100px 10%;
}

.container{
  max-width:1200px;
  margin:auto;
}